<div class="chat-container">
    <div class="messages-container" style="min-height: 90%; overflow: auto;" #scrollMe [scrollTop]="scrollMe.scrollHeight">
        <div *ngFor="let message of messages" class="message">
            <mat-card class="user-card">
                <mat-card-content>
                    <mat-card-subtitle>You</mat-card-subtitle>
                    {{ message.query || 'NA' }}
                </mat-card-content>
            </mat-card>
            <br>
            <mat-card class="sm-chatbot-card">
                <mat-card-content>
                    <mat-card-subtitle>SM-CHATBOT</mat-card-subtitle>
                    {{ message.message }}
                </mat-card-content>
            </mat-card>
        <br>
        </div>
    </div>
    <div class="controls-container">
        <div class="textbox">
            <textarea class="notes-field" matInput
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                    (keyup.enter)="getChatbotResponse($event)"
                    [(ngModel)]="query">
            </textarea>
        </div>
        <div>
            <button mat-raised-button color="primary" (click)="getChatbotResponse({})">Send</button>
        </div>
    </div>
</div>
