.chat-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    background-image: url(https://www.thalesgroup.com/sites/default/files/database/assets/images/2019-07/DigiSec_Home_Banner_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "gibson";
}

.message-container {
    width: 100%;
    min-height: 90%;
    overflow: auto;
}

.message {
    padding:20px;
}

.controls-container {
    width: 98%;
    display: flex;
    justify-content:space-between;
    flex-direction:row;
    margin : 0 20px;
    align-items: center;
    align-self: flex-end;
}

.textbox {
    width: 94%;
}

.sm-chatbot-card {
    float: right;
}

.user-card {
    float: left;
}

textarea {
    width: 100%;
    height: 50px;
}

mat-card{
    width: fit-content;
    width: 80%;
    margin: 10px;
}

.notes-field
{
    background-clip: border-box;
    background-size: contain;
    border-radius:0;
    height: 54px;
    font-size: 18px;
    font-family: "gibson";
    color: #000000;
    text-transform: none;
    text-align: left;
    font-weight: normal;
}

input[type=text], textarea
{
    -webkit-appearance: none;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    box-shadow: 0 0 5px rgba(89, 89, 89, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(204, 204, 204, 1);
}

input[type=text]:focus, textarea:focus
{
    box-shadow: 0 0 5px rgba(89, 89, 89, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(204, 204, 204, 1);
}
